
.DS_Store

*.pyc
__pycache__
*.egg-info

/docs/build/
/docs/source/*.rst
!/docs/source/index.rst
!/docs/source/README.rst
!/docs/source/IMAGE_TO_VIDEO_EXAMPLES.rst
!/docs/source/IMAGE_TO_VIDEO_QUICKSTART.rst
!/docs/source/PLATFORM_EXAMPLES.rst
!/docs/source/PLATFORM_QUICKSTART.rst
!/docs/source/TESTS.rst
